@model IEnumerable<HRManagement.Models.Trainer>
@{
    ViewBag.Title = "Details";
}

<h2>List Of Trainers Assigned To Course</h2>

<div class="form-group">
    @Html.ActionLink("Back","Index","AssignCourse",null,
      new { @class = "btn btn-primary" })
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trainer in Model)
        {
            <tr>
                <td>@trainer.UserName</td>
                <td>@trainer.FullName</td>
                <td>
                    @Html.ActionLink("Remove Trainer From Course","RemoveTrainer",
                      new { id = ViewBag.CourseId, trainerId = trainer.Id },
                      new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

