
@{
    ViewBag.Title = "CourseTrainee";
}

<h2>Manage courses of Trainee</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Assigned Courses</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.FullName</td>
                <td>@item.Course.Name</td>
                <td>
                    @Html.ActionLink("Remove Course", "Remove", "",
                                       new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Change Course", "Change", "",
                                       new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>