
@{
    ViewBag.Title = "Index";
}

<h2>Manage Account</h2>



<div class="form-inline">
    @Html.ActionLink("Manage Trainer", "ListTrainers", "Admin", new { @class = "btn btn-default" })
    @Html.ActionLink("Manage Training Staff", "ListStaffs", "Admin", new { @class = "btn btn-default" })
</div>